# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Packaging / build artifacts
*.egg-info/
build/
dist/

# Virtual Environments
.venv/

# Jupyter Notebook
.ipynb_checkpoints/

# Mac
.DS_Store

# Data files
data/ 

# model artifacts
models/

# audio files
data/raw_audio/
data/features/
# schemathesis run cache
.schemathesis/
