# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environments
.venv/

# Jupyter Notebook
.ipynb_checkpoints/

# Mac
.DS_Store

# Data files
data/ 

# model artifacts
models/

# audio files
data/raw_audio/
data/features/